<!DOCTYPE html>
<html>
<head>
    <title>Greet <%= @name %></title>
    <link rel='stylesheet' href='bootstrap/css/bootstrap.css'>
</head>
<body>
    <div class='container'>

        <h1> Welcome <%= @name %> !</h1></br>
        <p>Here are the details you provided:<br></p>
        <table border="1">
                <tr  padding = "10px"> 
                    <td><b> Name</b></td>
                    <td><b> Email</b></td>
                    <td> <b>Operating System</b> </td>
                </tr>
                <tr  padding = "10px">
                    <td> <%= @name %></td>
                    <td> <%= @email %></td>
                    <td>  <%= @opsys %></td>
                </tr>
            </table>
    </div>
</body>
</html>